/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial,Helvetica,sans-serif;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --input-background: #808080;
  --input-foreground: #954a4a;
  --component-background: #808080;
  --component-foreground: #b92b2b;
}
 
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --input-background: #333333;
    --input-foreground: #ededed;
    --component-background: #444444;
    --component-foreground: #ededed;
  }
}  */

 /* body {
  @apply bg-[var(--background)] text-[var(--foreground)];
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
  background-color: var(--input-background);
  color: var(--input-foreground);
  border: 1px solid var(--foreground); 
}

select, .dropdown, .component {
  background-color: var(--component-background);
  color: var(--component-foreground);
  border: 1px solid var(--foreground);  */